:root {
  --tile-size: 117.5px;
  --grid-gap: 10px; }

body {
  padding: 0;
  margin: 0; }

h1 {
  color: red; }

.playfield_background {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: darkgray;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px; }

.playfield_grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: var(--grid-gap); }
  .playfield_grid_cell {
    background-color: gray; }

.tile_grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.tile {
  position: absolute;
  height: 117.5px;
  width: 117.5px;
  background-color: orange;
  transition: all .2s;
  display: flex;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center; }
  .tile--2, .tile--4, .tile--8 {
    font-size: 5rem; }
  .tile--16, .tile--32, .tile--64 {
    font-size: 4rem; }
  .tile--128, .tile--256, .tile--512 {
    font-size: 3rem; }
  .tile--1024, .tile--2048, .tile--4096, .tile--8192 {
    font-size: 2.5rem; }
  .tile--2 {
    background-color: #ffb84d; }
  .tile--4 {
    background-color: #ffa31a; }
  .tile--8 {
    background-color: #e68a00; }
  .tile--16 {
    background-color: #b36b00; }
  .tile--32 {
    background-color: #993300; }
  .tile--64 {
    background-color: #990000; }
  .tile--128 {
    background-color: #cc0000; }
  .tile--256 {
    background-color: #ff4d4d; }
  .tile--512 {
    background-color: #ff4da6; }
  .tile--1024 {
    background-color: #cc99ff; }
  .tile--2048 {
    background-color: #80aaff; }

.winscreen {
  display: none;
  background-color: #fff;
  border: solid #000 3px;
  position: absolute;
  width: 600px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-content: center; }
  .winscreen p {
    grid-column: 1/3;
    grid-row: 1; }
  .winscreen button {
    border: none;
    background-color: #fff;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    cursor: pointer; }

.losescreen {
  display: none;
  background-color: #fff;
  border: solid #000 3px;
  position: absolute;
  width: 600px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-content: center; }
  .losescreen p {
    grid-column: 1/3;
    grid-row: 1; }
  .losescreen button {
    border: none;
    background-color: #fff;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    cursor: pointer; }

.score {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 50%;
  top: 19%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem; }

.restart {
  position: absolute;
  width: 500px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end; }
  .restart_icon {
    cursor: pointer;
    max-height: 50px;
    max-width: 50px; }
